{:deps    {org.asciidoctor/asciidoctorj {:mvn/version "2.4.0"}}
 :aliases {:rebel {:extra-deps {com.bhauman/rebel-readline {:mvn/version "0.1.4"}}
                   :main-opts  ["-m" "rebel-readline.main"]}
           :dev   {:main-opts ["-m" "site.main"]}}}